@use './assets/sass/variables' as *;


.pginicio{
    background-color: $azul-color;
    height: 74px;
   
}

header{
    background-color: $cinza-color;
    align-items: center;
    text-align: center;
}

.bt{
    background-color: $cinza-color;
}


h1{
    color: $branco-color;
    margin-top: 150px;
    font-size: 50px;
}

.bt button{
    border: none;
    margin-top: 150px;
    
}

#lk{
    color: $branco-color;
    font-size: 35px;
    background-color: $cinza-color;
}

#fim{
    background-color: $cinza-color;
    height: 265px;
}